.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 40vmin;
  pointer-events: none;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}


/*on the left*/

.dataContainer{
  display : flex;
  background-color: red;
  height: 400px;
  margin: 0;
  padding: 0 10%;
}

.leftContainer{

  width : 30%;
  height: 100%;
  background-color: blue;
}

.rightContainer{
  width: 70%;
  background-color:yellow;
  overflow-y: scroll;
}


.topBarContainer{
  background-color: pink;
}

@media only screen and (max-width : 768px) {
  .dataContainer{
    display : block;
  }
  .leftContainer{
    width : 100%;
    background-color: orange;
  }

  .rightContainer{
    width: 100%;
    overflow-y: hidden;
    background-color:seagreen;
  }

}


/*
@media only screen and (min-width : 768px) {
    width: 75%;
    background-color: green;
}*/